<div class="homeParallax">

</div>

<section class="content">

  <section class="skillSect" id="skillSect">
    <div class="content">
      <div class="sectionTitle">
        <h2>Skills</h2>
      </div>

      <p>I have a wide range of skills and am always expirementing with new tools and languages, and am never shy of
        trying something new. These are just the main highlights of my qualifications.</p>

      <div class="skillListSect">
        <div class="skillLangList">
          <h3>Languages</h3>
          <ul>
            <li>C#</li>
            <li>Java</li>
            <li>Python</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>Javascript</li>
            <li>Bootstrap</li>
            <li>CSS</li>
            <li>Visual Basic</li>
          </ul>
        </div>

        <div class="skillHLList">
          <h3>Experience</h3>
          <ul>
            <li>Microsoft Web (SQL, MVC, .Net)</li>
            <li>Java Web (Node JS, MongoDB)</li>
            <li>Angular</li>
            <li>Database Design</li>
            <li>CRUD Programming</li>
            <li>Game Programming</li>
            <li>Game Multiplayer Replication</li>
            <li>Mobile Development</li>
            <li>Unit Testing</li>
            <!-- <li>High Academic Achievements</li> -->
          </ul>
        </div>


        <div class="skillSoftwareList">
          <h3>Software</h3>
          <ul>
            <li>Visual Studio</li>
            <li>SQL - SSMS</li>
            <li>WebStorm</li>
            <li>Rider</li>
            <li>Unity3D Engine</li>
            <li>Netbeans</li>
            <li>Selenium</li>
            <li>Android Studio</li>
            <li>Microsoft Powerapps</li>
            <li>Microsoft Access</li>
          </ul>
        </div>
      </div>
      <br>
    </div>

  </section>

  <section class="workSect" id="workSect">

    <div class="content">
      <div class="sectionTitle">
        <h2>Recent Work Experience</h2>
      </div>


      <div class="legalLab">
        <h3>Contract Web Developer - LegalLab</h3>
        <p>The LegalLab website is a site owned by the Jennifer Labrecque Professional Corporation law firm.
          I was contracted with creating a new website for a recent marketing campaign. The site was programmed
          with responsive features and contains details on the company's new services and team members.
          Development still currently in progress.</p>

        <a href="https://alozano7591.github.io/LegalLabDemo/index.html">
          <img src="assets/images/LegalLab-Coffee.png" alt="LegalLab">
        </a>
      </div>
    </div>

  </section>

</section>

