/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1{
  font-size: 40px;
  font-weight: normal;
}

h2{
  font-size: 36px;
  border-bottom: 1px rgb(71, 71, 71) solid;
  font-weight: normal;
  padding-bottom: 14px;
}

h3{
  font-size: 25px;
  font-weight: normal;
}

p{
  font-size: large;
  font-weight: normal;
}

body{
  width: 100%;
  background-color: whitesmoke;
  /*
  background-size: cover;
  background-image: url("assets/images/bg/programming-bg.jpg");
   */
}
